<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户分组</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" href="__PUBLIC__/css/user.css" media="all" />
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal usersAdd_btn">添加分组</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-danger batchDel">批量删除</a>
    </div>
</blockquote>
<div class="layui-form users_list width-60">
    <table class="layui-table">
        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
            <th>分组编号</th>
            <th>分组名称</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="users_content">
        <volist name="group_list" id="vo">
            <tr>
                <td><input type="checkbox" data-id="{$vo.id}" name="checked" lay-skin="primary" lay-filter="choose"></td></td>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.createtime}</td>
                <td>
                    <a class="layui-btn layui-btn-mini users_edit" data-id="{$vo.id}"><i class="iconfont icon-edit"></i> 编辑</a>
                    <!--a class="layui-btn layui-btn-danger layui-btn-mini users_del" data-id="{$vo.id}"><i class="layui-icon">&#xe640;</i> 删除</a-->
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div id="page"></div>
<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
<script>
    layui.use(['form','layer','jquery','laypage'],function(){
        var form = layui.form,
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
        $(".usersAdd_btn").click(function(){
            var index = layui.layer.open({
                title:"添加系统权限分组",
                type: 2,
                area: ['700px','500px'],
                fixed: false, //不固定
                maxmin: true,
                content: "{:U('Account/addRole')}"
            })
        });
        //修改用户
        $(".users_edit").click(function(){
            var id=$(this).attr('data-id');
            var index = layui.layer.open({
                title:"修改系统权限分组",
                type: 2,
                area: ['700px', '500px'],
                fixed: false, //不固定
                maxmin: true,
                content: "{:U('Account/addRole')}?id="+id
            })
        })
        //批量删除
        $(".batchDel").click(function(){
            var $checkbox = $('.users_list tbody input[type="checkbox"][name="checked"]');
            var $checked = $('.users_list tbody input[type="checkbox"][name="checked"]:checked');
            if($checkbox.is(":checked")){
                layer.confirm('确定删除选中的分组？',{icon:3, title:'提示信息'},function(index){
                    var arr_list=[];
                    for(var i=0;i<$checked.length;i++){
                        arr_list[i]=$checked.eq(i).attr('data-id');
                    }
                    $.post("{:U('Account/deleteRole')}",{id:arr_list},function(s){
                        if(s.status == 200){
                            parent.layer.msg("批量删除分组成功！");
                            location.reload();
                        }else{
                            parent.layer.msg(s.msg);
                        }
                    },'json')
                })
            }else{
                layer.msg("请选择需要删除的权限分组");
            }
        });
        //删除用户
        $(".users_del").click(function(){
            var _self=this;
            var id=$(this).attr('data-id');
            parent.layer.confirm('确认删除此分组？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.post("{:U('Account/deleteRole')}",{id:id},function(s){
                    if(s.status == 200){
                        $(_self).parent('td').parent('tr').remove();
                        parent.layer.msg("删除分组成功");
                    }else{
                        parent.layer.msg(s.msg);
                    }
                },'json')
            });
        })

        //全选
        form.on('checkbox(allChoose)', function(data){
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
            child.each(function(index, item){
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });


    })
</script>
</body>
</html>